@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.main-container{
    width: 100vw;
    position: relative;
}
.nav-link{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 0.032em;
    color: #000000 !important;
    margin: 0px 25px;
}

.breadcrumbz{
    background: yellowgreen ;
    height: 30vh !important ;
    width: 100vw;
    background: linear-gradient(0deg, rgba(221, 220, 199, 0.27), rgba(235, 233, 208, 0.27)), url('../media/facilities.png');
}

.breadcrumbz p{
    font-family: 'Rubik', sans-serif !important;
    text-align: center !important;
    letter-spacing: 0.002em;
    color: #000000;
    display: flex;
    justify-content:  center;
    line-height: 30vh;
}

.picture-grid{
    width: 100vw;
    height: 50vh;
    padding-top: 1em;
}

.grid-box{
    position: relative;
    width: 100%;
    background-color: slateblue;
    margin: auto;
}

.d-flex{
    border: 1px solid red;
    
}

.p-2{
    border: 1px solid blue;
}










